body {
  background-color: whitesmoke;
  font-family: "Playfair Display", serif;
}
.image {
  height: 300px;
  width: 300px;
  float: left;
  margin-right: 50px;
}
#logo {
  height: 100px;
  width: 100px;
}
#creative {
  color: red;
}
.card {
  width: 45%;
}
.left {
  float: left;
}
.right {
  float: right;
}
.foot {
  clear: both;
  text-align: right;
}
.heading {
  text-align: center;
  font-size: 5rem;
}
